/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Rubik:wght@400;500;700&display=swap");

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  --primary-color: var(--yellow-500);
  --primary-800: var(--yellow-800);
  --primary-700: var(--yellow-700);
  --primary-600: var(--yellow-600);
  --primary-400: var(--yellow-400);
  --primary-300: var(--yellow-300);
  --primary-200: var(--yellow-200);
  
  .p-button.p-button-outlined  {
    color:  var(--yellow-500) !important;
  }
  .p-selectbutton .p-button.p-highlight, .p-slider .p-slider-range {
    background: var(--yellow-600) !important;
    border-color: var(--yellow-600) !important;
  }
  .p-badge {
    background: var(--yellow-300) !important;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

p,
h1 {
  padding: 0;
  margin: 0;
}

// Global styles
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

